

.container
{
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 400px;

    font-size: 1.4rem;
}

.container button
{
    border: none;
    cursor: pointer;
}

.container button:active
{
    scale: 0.98 0.98;
}


/* -------------------------------MESSAGE----------------------------- */
.container p
{
    font-size: 1.8rem;
}
/* -------------------------------------------------------------- */



/* -------------------------------OTP----------------------------- */
.container .inputStyle
{
    width: 4.5rem !important;
    height: 4.5rem;
    border-radius: 1rem;
    margin-left: 8px;
    margin-right: 8px;

    font-size: 1.8rem;
    border: none;
}
/* -------------------------------------------------------------- */



/* -------------------------------SUBMIT RESET----------------------------- */
.container .submitResend
{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.container .submitResend .submit
{
    font-size: 1.5rem;
    padding: 0 20px;
    height: 4.2rem;
    border-radius: 20px;
    background-color: #19C37D;
}

.container .submitResend .submit:disabled
{
    background-color: #404040;
    color: grey;
    font-weight: 600;
    cursor: not-allowed;
}

.container .submitResend .submit:disabled:active
{
    scale: none;
}

.container .submitResend .resend
{
    align-self: flex-start;
    background: none;
    color: white;
}

/* -------------------------------------------------------------- */





/* -------------------------------RESPONSIVENESS----------------------------- */

@media screen and (max-width:550px)
{
    .container
    {
        width: 100vw;
        max-width: 400px;
        min-width: 300px;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
/* -------------------------------------------------------------- */