

.container
{
    padding: 4rem 5rem;

    width: 400px;

    font-size: 1.6rem;
}

.container button
{
    border: none;
    cursor: pointer;
}

.container button:active
{
    scale: 0.98 0.98;
}

.container .message
{
    text-align:  center;
    margin-bottom: 3rem;
}

.container .login
{
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;

    background-color: #19C37D;

    font-size: 1.6rem;
    font-weight: 500;

    margin-bottom: 0.5rem;
}

.container .resend
{
    background: none;
    color: white;
}

.container .resend:disabled
{
    color: rgb(138, 138, 138);
    cursor: not-allowed;
}

