

.container
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50% , -60%);

    border-radius: 2rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
}

.container .heading
{
    font-weight: 400;
}

.container .box
{
    border-radius: 4rem;
    padding: 4rem;
    width: 100%;
    background-color: rgba(0 , 0 , 0 , 0.70);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .box .hostelRoom
{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container .box .hostelRoom > *
{
    width: 40%;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.container .box select
{
    background-color: #425FC6;
    color: white;
    font-size: 1.5rem;
}

.container .box select option
{
    background-color: white;
    color: #425FC6;
    font-size: 1.8rem;
}

.container .box input
{
    text-align: center;
    font-size: 1.5rem;
}

.container .box input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}

.container .box button
{
    width: 75%;

    padding: 0 20px;
    height: 4.2rem;
    border-radius: 20px;

    cursor: pointer;
    border: none;
    font-size: 1.6rem;
}

.container .box button:active
{
    scale: 0.99 0.99;
}

.container .box .update
{
    background-color: #19C37D;
}

.container .box .logout
{
    background-color: #C31919;
}

.container .box .update:disabled
{
    background-color: #404040;
    color: grey;
    font-weight: 600;
    cursor: not-allowed;
}

.container .box .update:disabled:active
{
    scale: none;
}











/* -------------------------------RESPONSIVENESS----------------------------- */
@media screen and (max-width:450px)
{
    .container
    {
        width: 100vw;
    }
}
/* -------------------------------------------------------------- */